{% extends 'core/main.html' %}
{% load static %}

{% block content %}

<div class="row">
{% for product in products %}
            <div class="col-lg-4">
            {% if product.image is not None %}
                <img class="i" alt='1' src="{{product.image.url}}">
            {% else %}
                <img class="i" alt='placeholder' src="{% static 'images/placeholder.png'%}">
            {% endif %}
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn cart-update">Add to Cart</button>
                    <a class="btn btn-outline-success add-btn" href="{% url 'ProductDetail' pk=product.pk%}">View</a>
                    <h4 style="display: inline-block; float:right;">${{ product.price }}</h4>
                </div>
            </div>

{% endfor %}
</div>

<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}