{% extends 'core/main.html' %}
{% load static %}

{% block content %}

     {% for message in messages %}
         <div style="background-color: gray " class="sticky-top rounded mt-2 p-1 centered" id="message-cat">
             <h6 style="color: snow; ">{{ message }}</h6>
         </div>
     {% endfor %}

    {% for category in categories %}
        <div class="box-element centered mt-3 mb-1">
            <h1>{{ category }}</h1>
        </div>

        <div class="row">
        {% for product in category.product_set.all %}

                    <div class="col-lg-4">

                        <img class="i" alt='1' src="{{product.image.url}}">


                        <div class="box-element product">
                            <h6><strong>{{ product.name }}</strong></h6>
                            {% if product.in_stock == True %}
                                <h6 style="color: #008000FF"><strong>In Stock</strong></h6>

                             {% else %}
                                <h6 style='color:#C00101FF'><strong>Out Of Stock</strong></h6>

                            {% endif %}
                            <hr>
                            {% if product.in_stock == True %}
                            <button data-product="{{ product.id }}" data-action="add" data-c ="{{ csrf_token }}" data-url="{% url 'AddToCart' %}" data-product-name='{{ product.name }}' class="btn btn-outline-secondary add-btn cart-update">Add to Cart</button>
                            {% else %}


                                <button class="btn btn-outline-danger" style="color: #c00101">Add to Cart</button>

                            {% endif %}
                            <a class="btn btn-outline-success add-btn" href="{% url 'ProductDetail' pk=product.pk %}">View</a>
                            {% if product.discount == None %}
                                <h4 style="display: inline-block; float:right;">${{ product.price }}</h4>

                            {% elif product.discount.type == 'percentage' %}
                                <h4  style="display: inline-block; float:right;"><b>${{ product.after_discount_price }}</b> <s style="color:#C00101FF;">${{ product.price }}</s></h4>

                            {% elif product.discount.type == 'currency' %}
                                <h4 style="display: inline-block; float:right;"><b>${{ product.after_discount_price }}</b>  <s style="color:#C00101FF;">${{ product.price }}</s></h4>

                            {%  else %}

                            {% endif %}

                        </div>
                    </div>

        {% endfor %}
        </div>
    {% endfor %}




<script src="{% static 'js/cart.js' %}"></script>


    <script>
        x = $('#message-cat')
        x.fadeOut(2800)
    </script>


{% endblock %}