{% extends 'core/main.html' %}
{% load static %}
{% block content %}

     {% for message in messages %}
         <div style="background-color: gray " class="sticky-top rounded mt-2 p-1 centered" id="message-cat">
             <h6 style="color: snow; ">{{ message }}</h6>
         </div>
     {% endfor %}

<div class="row">

    <div class="box-element product col-lg-8">
        <div class="col-lg-12 product centered">
            <h1><strong>{{ product.name }}</strong></h1>
        </div>
        <br>
        <br>
        <br>
        <h6 style=""> {{ product.description }}</h6>
    </div>

    <div class="box-element product col-lg-4">
                <img class="i" alt='1' src="{{product.image.url}}">
        <div class="box-element">
              {% if product.in_stock == True %}
                 <button data-product="{{ product.id }}" data-action="add" data-c ="{{ csrf_token }}" data-url="{% url 'AddToCart' %}" data-product-name='{{ product.name }}' class="btn btn-outline-secondary add-btn cart-update col-lg-12">Add to Cart</button>

            {% else %}
                <button class="btn btn-outline-secondary  col-lg-12" style="color: #c00101">Add to Cart</button>
            {% endif %}

            <br>
            <br>
            <h4 style=""><b>Brand:</b>   {{ product.brand }}</h4>
            <h4 style="display: inline-block; float:right;">   <img class="brand-logo" alt='Logo' src="{{product.brand.logo.url}}"></h4>
            <h4 style=""><b>Price:</b>   ${{ product.price }}</h4>
            {% if product.in_stock == True %}
                <h4 style="color: green">In stock</h4>
            {% else %}
                <h4 style="color: #c00101">Out of stock</h4>
            {% endif %}

        </div>
    </div>
</div>


<script src="{% static 'js/cart.js' %}"></script>

    <script>
        x = $('#message-cat')
        x.fadeOut(2800)
    </script>

{% endblock %}



