{% extends "core/main.html" %}
{% load static %}
{% block content %}

 {% for message in messages %}
     <div style="background-color: gray" id="store-message" class=" sticky rounded mt-5 p-1 centered">
         <h6 style="color: snow; ">{{ message }}</h6>
     </div>
 {% endfor %}



<div class="sticky rounded mt-5 p-1 centered the_message"></div>




<div class="row" id="API-caller" data-Url="{% url 'ProductListAPI' %}"></div>

    <script type="text/javascript">
        product_list()


        function product_list(){
            let wrapper = document.getElementById('API-caller')
            let  url = document.getElementById('API-caller').getAttribute('data-url')
            fetch(url)
            .then((resp) => resp.json())

            .then(

                function (product){

                    for (let i of product){

                        let PK = i.id
                        function StockPart () {

                            if (i['in_stock'] === true) {

                                let s = `
                                 <h6 style="color: #008000FF"><strong>In Stock</strong></h6>
                                  <hr>
                                 <button data-product="${PK}" data-url="{% url 'AddToCart' %}" data-action="add" data-product-name=${i['name']} data-c ="{{ csrf_token }}" class="btn btn-outline-secondary add-btn cart-update">Add to Cart</button>
                                `
                                return s

                            } else if (i['in_stock'] === false) {

                                let s =
                                    `
                                    <h6 style='color:#C00101FF'><strong>Out Of Stock</strong></h6>
                                    <hr>
                                    <button class="btn btn-outline-danger" style="color: #c00101">Add to Cart</button>
                                    `
                                return s
                            }
                        }


                         function PricePart () {

                            if (i['discount'] === null) {

                                let p = `
                                <h4 style="display: inline-block; float:right;">$${ i['price'] }</h4>

                                `
                                return p

                            } else if (i['discount'] !== null) {

                                let p =
                                    `
                                    <h4 style="display: inline-block; float:right;"><b>${i['price']}</b><s style="color:#C00101FF">$${ i['price'] }</s></h4>
                                    `
                                {# ToDO add price after discout #}
                                return p
                            }
                        }

                        let item = `

                           <div class="col-lg-4">
                              <img class="i" alt='1' src="${i['image']}">

                              <div class="box-element product">

                                  <h6><strong>${ i.name }</strong></h6>
                                  ${StockPart()}
                                  <a class="btn btn-outline-success add-btn" href="http://127.0.0.1:8000/product/ProductDetail/${PK}">View</a>
                                  {#<h4 style="display: inline-block; float:right;">$${ i.price }</h4>#}
                                  ${PricePart()}

                              </div>
                           <div>
                        `
                        wrapper.innerHTML += item

                    }
                }
            )
        }
    </script>

<script src="{% static 'js/cart.js' %}"></script>

 <script>
        x = $('#store-message')
        x.fadeOut(2800)
    </script>

{% endblock %}