{% extends "core/main.html" %}
{% load static %}
{% block content %}

 {% for message in messages %}
     <div style="background-color: gray" class=" sticky rounded mt-5 p-1 centered">
         <h6 style="color: snow; ">{{ message }}</h6>
     </div>
 {% endfor %}




    <div class="sticky" id="message"></div>


<div class="row" id="API-caller" data-Url="{% url 'ProductListAPI' %}"></div>

{#<div class="row">#}
{#{% for product in products %}#}
{#            <div class="col-lg-4">#}
{#            {% if product.image is not None %}#}
{#                <img class="i" alt='1' src="{{product.image.url}}">#}
{#            {% else %}#}
{#                <img class="i" alt='placeholder' src="{% static 'images/placeholder.png'%}">#}
{#            {% endif %}#}
{#                <div class="box-element product">#}
{#                    <h6><strong>{{ product.name }}</strong></h6>#}
{#                    <hr>#}
{#                    <button class="btn btn-outline-secondary add-btn">Add to Cart</button>#}
{#                    <a class="btn btn-outline-success add-btn" href="{% url 'ProductDetail' pk=product.pk%}">View</a>#}
{#                    <h4 style="display: inline-block; float:right;">${{ product.price }}</h4>#}
{#                </div>#}
{#            </div>#}
{##}
{#{% endfor %}#}
{#</div>#}

    <script type="text/javascript">
        product_list()


        function product_list(){
            var wrapper = document.getElementById('API-caller')
            var  url = document.getElementById('API-caller').getAttribute('data-url')
            fetch(url)
            .then((resp) => resp.json())
            .then(
                function (data){

                    var  product = data
                    for (var i of product){

                        var PK = i.id

                        if(
                            i['image'] != null && i['in_stock'] === true
                        ){

                            var item = `


                           <div class="col-lg-4">
                              <img class="i" alt='1' src="${i['image']}">

                              <div class="box-element product">

                                  <h6><strong>${ i.name }</strong></h6>
                                  <h6 style="color: #008000FF"><strong>In Stock</strong></h6>
                                  <hr>
                                   <button data-product="${PK}" data-url="{% url 'AddToCart' %}" data-action="add" data-product-name=${i['name']} data-c ="{{ csrf_token }}" class="btn btn-outline-secondary add-btn cart-update">Add to Cart</button>
                                  <a class="btn btn-outline-success add-btn" href="http://127.0.0.1:8000/product/ProductDetail/${PK}">View</a>
                                  <h4 style="display: inline-block; float:right;">$${ i.price }</h4>

                              </div>
                           <div>
                        `
                        wrapper.innerHTML += item}

                    else if(
                         i['image'] != null && i['in_stock'] === false


                    ) {

                         var item = `


                           <div class="col-lg-4">
                              <img class="i" alt='1' src="${i['image']}">

                              <div class="box-element product">

                                  <h6><strong>${ i.name }</strong></h6>
                                  <h6 style='color:#C00101FF'><strong>Out Of Stock</strong></h6>
                                  <hr>
                                  <button class="btn btn-outline-danger" style="color: #c00101">Add to Cart</button>
                                  <a class="btn btn-outline-success add-btn" href="http://127.0.0.1:8000/product/ProductDetail/${PK}">View</a>
                                  <h4 style="display: inline-block; float:right;">$${ i.price }</h4>

                              </div>
                           <div>
                        `
                        wrapper.innerHTML += item}




                    else if(
                         i['image'] === null && i['in_stock'] === true


                    ) {

                         var item = `


                           <div class="col-lg-4">
                              <img class="i" alt='1' src="{% static 'images/placeholder.png' %}">

                              <div class="box-element product">

                                  <h6><strong>${ i.name }</strong></h6>
                                  <h6 style="color: #008000FF"'><strong>In Stock</strong></h6>
                                  <hr>
                                  <button data-product="${PK}" data-url="{% url 'AddToCart' %}" data-action="add" data-product-name=${i['name']} data-c ="{{ csrf_token }}" class="btn btn-outline-secondary add-btn cart-update">Add to Cart</button>
                                  <a class="btn btn-outline-success add-btn" href="http://127.0.0.1:8000/product/ProductDetail/${PK}">View</a>
                                  <h4 style="display: inline-block; float:right;">$${ i.price }</h4>

                              </div>
                           <div>
                        `
                        wrapper.innerHTML += item}

                    else{

                         var item = `


                           <div class="col-lg-4">
                              <img class="i" alt='1' src="{% static 'images/placeholder.png' %}">

                              <div class="box-element product">

                                  <h6><strong>${ i.name }</strong></h6>
                                  <h6 style='color:#C00101FF'><strong>Out Of Stock</strong></h6>
                                  <hr>
                                  <button class="btn btn-outline-danger" style="color: #c00101">Add to Cart</button>
                                  <a class="btn btn-outline-success add-btn" href="http://127.0.0.1:8000/product/ProductDetail/${PK}">View</a>
                                  <h4 style="display: inline-block; float:right;">$${ i.price }</h4>

                              </div>
                           <div>
                        `
                        wrapper.innerHTML += item}


                    }
                }
            )
        }
        </script>

<script src="{% static 'js/cart.js' %}"></script>


{#<script>#}
{#      let AddToCart = document.getElementsByClassName('cart-update')#}
{#      for( let i=0; i<AddToCart.length; i++){#}
{##}
{#         AddToCart[i].addEventListener('click', function () {#}
{##}
{#             PlaceHolder = document.getElementById("message")#}
{##}
{##}
{##}
{#             {% for message in messages %}#}
{##}
{##}
{##}
{#                PlaceHolder.innerHTML +=` <div style="background-color: gray" class=" sticky rounded mt-2 p-1 centered" id="close">#}
{#                                                <h6 style="color: snow; ">{{ message }}</h6>#}
{#                                            </div>`#}
{##}
{#             {% endfor %}#}
{##}
{#         setTimeout(#}
{#             function c() {#}
{#                let elem = document.getElementById("message")#}
{#                elem.parentNode.removeChild(elem)},#}
{##}
{#             6000)#}
{##}
{#         })#}
{##}
{#</script>#}
{% endblock %}