{% extends 'core/main.html' %}
{% load static %}

{% block content %}
     <div class="container h-100 box-element">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center box-element">
            <h3 id="form-title">LOGIN</h3>
          </div>
          <div class="d-flex justify-content-center form_container">

            <form method="POST" action="" class="box-element p-5">
                {% csrf_token %}




              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                {{ form.username }}
              </div>

              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                {{ form.password1 }}
              </div>

              <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn btn-outline-success" type="submit" value="Login">

              </div>
            </form>
          </div>

            {% for message in messages %}

                <p>{{ message }}</p>


            {% endfor %}
             <div class="mt-4">
            <div class="d-flex justify-content-center links">
              Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign-Up</a>
            </div>
             </div>

          <div class="mt-4">
            <div class="d-flex justify-content-center links">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>


      // All input fields
      var form_fields = document.getElementsByTagName('input')

      form_fields[1].placeholder = 'Username';
      form_fields[2].placeholder = 'Enter password...';



      for (var field in form_fields) {
        form_fields[field].className += ' form-control'
      }

    </script>



{% endblock %}