{% extends 'core/main.html' %}
{% load static %}

{% block content %}

{#    {% for message in messages %}#}
{#        <div style="background-color: gray" class=" sticky rounded mt-5 p-1 centered">#}
{#            <h6 style="color: snow; ">{{ message }}</h6>#}
{#        </div>#}
{#    {% endfor %}#}
    <div class="row">

    <div class="box-element product col-lg-8">
        <div class="col-lg-12 product centered">
            <h1><strong>....</strong></h1>
        </div>
        <br>
        <br>
        <br>
        <h6 style=""> .................................................................................................................</h6>
    </div>

    <div class="box-element product col-lg-4">

        <div class="box-element">

                 <a href="{% url 'logout' %} " class="btn btn-danger" style="margin-right: 10px; color: whitesmoke;  float: right">Logout</a>

            <br>
            <br>
            <h4 style=""><b>Username:</b>  {{user.username}}</h4>
            <br>
            <h4 style=""><b>Phone Number:</b>  {{user.phone}}</h4>

            <br>

            <button class="centered btn btn-outline-dark col-lg-10">change Password</button>


        </div>
    </div>
</div>






<div class="box-element mt-2 col-lg-12">
            {% for A in addresses %}
                <div id="address{{ A.id }}"  class="box-element mt-2 AddressBar">
                    <div class="cart-row">

                        <div style="flex:3"><strong>Province</strong></div>
                        <div style="flex:2"><strong>City</strong></div>
                        <div style="flex:5"><strong>Zip-Code</strong></div>

                    </div>

                    <div class="cart-row">

                        <div style="flex:3">{{ A.province }}</div>
                        <div class="mr-3" style="flex:2">{{A.city}}</div>
                        <div class="mr-4" style="flex:3">{{ A.postal_code }}</div>

                        <a class="centered btn btn-info col-lg-1 mr-1" href="{% url 'UpdateAddress' pk=A.id %}">Edit</a>
                        <button  onclick="DeleteAddress({{ A.id }})" class="centered btn btn-danger col-lg-1">Delete</button>
                    </div>

                </div>

            {% endfor %}
            <!-- The Modal -->
        <div id="myModal" class="modal  mt-5 col-lg-12" >

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form>

                    <label for="Province">Province:</label>
                    <input style="flex:1" type="text" id="Province" >



                    <label for="City">City:</label>
                    <input style="flex:1" type="text" id="City">



                    <label for="Exact">Exact Address:</label>
                    <input style="flex:1" type="text" id="Exact" >



                    <label for="Zip">Postal Code:</label>
                    <input style="flex:1" type="number" id="Zip">

                <input class="btn btn-success" onclick="CreateAddress()" type="submit" value="Submit">
            </form>
        </div>

</div>
         <button id="myBtn" class="centered btn btn-info col-lg-12">Add Address</button>

</div>

     <script>





    function CreateAddress(){
         let province = $('#Province').val()
         let city = $('#City').val()
         let exact = $('#Exact').val()
         let zip = $('#Zip').val()

        $.ajax({
            url: "{% url 'CreateAddress' %}",
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                'province': province,
                'city': city,
                'zip': zip,
                'exact_address': exact,
            },

            success: function () {


            },
        })

    }




    </script>



    <script>

    function DeleteAddress(value){

        $.ajax({
            url: "{% url 'DeleteAddress' pk=0 %}".replace(/0/, value),
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },

            success: function () {
                 let x = document.getElementById(`address${value}`)
                 x.remove()

            },
        })
    }



    </script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

// Get the button that opens the modal
        var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
        btn.onclick = function() {
        modal.style.display = "block";
        }

// When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

// When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    </script>

{% endblock %}