{% extends 'core/main.html' %}
{% load static %}

{% block content %}

    {% for message in messages %}
        <div style="background-color: gray" class=" sticky rounded mt-5 p-1 centered" id="ViewProfile-message">
            <h6 style="color: snow; ">{{ message }}</h6>
        </div>
    {% endfor %}

    <div class="row">
        <div class="box-element product col-lg-12">

        <div class="box-element">

                 <a href="{% url 'logout' %} " class="btn btn-danger" style="margin-right: 10px; color: whitesmoke;  float: right">Logout</a>

            <br>
            <br>
            <h4 style=""><b>fullname:</b>  {{ user.first_name }}</h4>
            <br>
            <h4 style=""><b>Phone Number:</b>  {{user.phone}}</h4>

            <br>

            <a class="centered btn btn-dark col-lg-12" href="{% url 'EditProfile' %}">edit profile</a>


        </div>
    </div>
    </div>
    <div class="row" style="height: 100%;">

    <div class="box-element product col-lg-12 mt-3">
        <div class="col-lg-12 product centered">
            <h1><strong>Recent Orders</strong></h1>
        </div>
        <br>
        <br>
        <br>
        <div id="recent-orders" data-url="{% url 'RecentOrders' %}"></div>
    </div>
</div>






<div class="box-element mt-3 col-lg-12">
            {% for A in addresses %}
                <div id="address{{ A.id }}"  class="box-element mt-2 AddressBar">
                    <div class="cart-row">

                        <div style="flex:3"><strong>Province</strong></div>
                        <div style="flex:2"><strong>City</strong></div>
                        <div style="flex:5"><strong>Zip-Code</strong></div>

                    </div>

                    <div class="cart-row">

                        <div class="showing-province" style="flex:3">{{ A.province }}</div>
                        <div class="mr-3 showing-city" style="flex:2">{{A.city}}</div>
                        <div class="mr-4 showing-zip" style="flex:3">{{ A.postal_code }}</div>




                         <!-- Edit Address Modal -->
                <div id="EditAddressModal{{ A.id }}" class="modal  mt-5 col-lg-12" >

                <!-- Modal content -->
                    <div class="modal-content centered">

                        <form>

                            <label for="P{{ A.id }}">Province:</label><br>
                            <input style="flex:1" type="text" id="P{{ A.id }}" class="col-lg-6  rounded" value="{{ A.province }}"><br>



                            <label for="C{{ A.id }}">City:</label><br>
                            <input style="flex:1" type="text" id="C{{ A.id }}" class="col-lg-6 rounded" value="{{ A.city }}"><br>



                            <label for="E{{ A.id }}">Exact Address:</label><br>
                            <input style="flex:1" type="text" id="E{{ A.id }}" class="col-lg-6 rounded" value="{{ A.exact_address }}"><br>



                            <label for="Z{{ A.id }}">Postal Code:</label><br>
                            <input style="flex:1" type="number" id="Z{{ A.id }}" class="col-lg-6 rounded"  value="{{ A.postal_code }}"><br>

                <input class="btn btn-success mt-5 col-lg-4" onclick="UpdateAddress({{ A.id }})" type="submit" value="Submit">
            </form>
        </div>
</div>




                        <button type="button" class="centered btn btn-info col-lg-1 mr-1" id="EditAddressBtn{{ A.id }}" onclick="EditAddress({{ A.id }})">Edit</button>
                        <button  onclick="DeleteAddress({{ A.id }})" class="centered btn btn-danger col-lg-1">Delete</button>
                    </div>

                </div>


{% endfor %}
    <!-- Add Address Modal -->
        <div id="myModal" class="modal  mt-5 col-lg-12" >

        <!-- Modal content -->
        <div class="modal-content centered">
            <span class="close" style="margin-right: 1500px">&times;</span>
            <form>

                    <label for="Province">Province:</label><br>
                    <input style="flex:1" type="text" id="Province" class="col-lg-6  rounded"><br>



                    <label for="City">City:</label><br>
                    <input style="flex:1" type="text" id="City" class="col-lg-6 rounded"><br>



                    <label for="Exact">Exact Address:</label><br>
                    <input style="flex:1" type="text" id="Exact" class="col-lg-6 rounded"><br>



                    <label for="Zip">Postal Code:</label><br>
                    <input style="flex:1" type="number" id="Zip" class="col-lg-6 rounded"><br>

                <input class="btn btn-success mt-5 col-lg-4" onclick="CreateAddress()" type="submit" value="Submit">
            </form>
        </div>
</div>




         <button id="myBtn" class="centered btn btn-info col-lg-12">Add New Address</button>

</div>

     <script>
    function CreateAddress(){
         let province = $('#Province').val()
         let city = $('#City').val()
         let exact = $('#Exact').val()
         let zip = $('#Zip').val()

        $.ajax({
            url: "{% url 'CreateAddress' %}",
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: {
                'province': province,
                'city': city,
                'zip': zip,
                'exact_address': exact,
            },

            success: function () {


            },
        })

    }
    </script>


    <script>

    function DeleteAddress(value){

        $.ajax({
            url: "{% url 'DeleteAddress' pk=0 %}".replace(/0/, value),
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },

            success: function () {
                 let x = document.getElementById(`address${value}`)
                 x.remove()

            },
        })
    }
    </script>

         <script>

            function UpdateAddress(value){
                let province = $(`#P${value}`).val()
                let city = $(`#C${value}`).val()
                let exact = $(`#E${value}`).val()
                let zip = $(`#Z${value}`).val()

                $.ajax({
                    url: "{% url 'UpdateAddress' pk=0 %}".replace(/0/, value),
                    method: 'PATCH',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                 },
                    data: {
                        'province': province,
                        'city': city,
                        'zip': zip,
                        'exact_address': exact,
                        'address_id': value
                    },

                    success: function () {
                        window.location.reload()
                    {#  todo STOP THE RELOAD  #}


                    },
                })

            }
    </script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

// Get the button that opens the modal
        var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
        btn.onclick = function() {
        modal.style.display = "block";
        }

// When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

// When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    </script>


<script>
        // Get the modal
        function EditAddress(i)
        {


            var modal = document.getElementById(`EditAddressModal${i}`);

// Get the button that opens the modal
            var btn = document.getElementById(`EditAddressBtn${i}`);

// Get the <span> element that closes the modal
            var span = document.getElementById(`close${i}`);
            console.log(span)

// When the user clicks on the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }
        }


// When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>


<script>
        x = $('#ViewProfile-message')
        x.fadeOut(3000)
    </script>



 <script type="text/javascript">
        RecentOrderList()


        function RecentOrderList(){
            let wrapper = document.getElementById('recent-orders')
            let  url = document.getElementById('recent-orders').getAttribute('data-url')
            fetch(url)
            .then((resp) => resp.json())

            .then(

                function (order){

                    for (let i of order){

                        let item = `

                             <div class="box-element mt-3">
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2"><strong>Item</strong></div>
                        <div style="flex:1"><strong>Price</strong></div>
                        <div style="flex:1"><strong>Quantity</strong></div>
                        <div style="flex:1"><strong>Total</strong></div>
                    </div>

                    <div class="cart-row">
                        <div style="flex:2">
                            <image src="" class="row-image" alt='img'></image>
                        </div>
                        <div style="flex:2">name</div>
                        <div style="flex:1">price</div>
                        <div style="flex:1">
                            <p class="count-of-item" >how_many</p>

                        </div>

                            <div style="flex:1"><b>$price</b></div>



                    </div>

                        `
                        wrapper.innerHTML += item

                    }
                }
            )
        }
    </script>
{% endblock %}