<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 rounded-0" >

  <!-- Footer Elements -->
  <div class="container col-12 ">

      <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5 mt-2 icons">
        <div class="mb-5">

          <!-- Facebook -->
          <a class="whatsapp">
            <i class="fab fa-whatsapp fa-lg white-text mr-md-5 mr-3 fa-2x footer-icon"> </i>
          </a>


          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x footer-icon"> </i>
          </a>

            <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/mahtor10/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x footer-icon"> </i>
          </a>

          <!--Pinterest-->
          <a class="pin-ic" href="https://github.com/bloodyfork">
            <i class="fab fa-github fa-lg white-text fa-2x footer-icon"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">POWERED BY:
    <a href="https://github.com/bloodyfork" id="creator">  BloodyFork</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
