{% extends 'core/main.html' %}
{% load static %}

{% block content %}
    {% for message in messages %}
     <div style="background-color: gray" id="cart-message" class=" sticky rounded mt-5 p-1 centered one-time-message">
         <h6 style="color: snow; ">{{ message }}</h6>
     </div>
    {% endfor %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="{% url 'store' %}" class="btn btn-outline-dark">&#x2190 Back to Store</a>
                <div style="float: right">
                    <label for="OffCode" style="color: #4D4D4DFF">Got Off Code?</label>
                    <input class="rounded box-element" id="OffCode" type="text">
                    <input class="btn btn-outline-success" id="OffCode-submit" type="submit">
                </div>


                 <!-- The Modal -->
        <div id="checkoutModal" class="modal  mt-5 col-lg-12" >

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <div class="row"></div>

        <div>
            <h1 class="centered">Order Summary</h1>
        </div>

        <h3>You will pay: ${{ cart.calculate_final_price }}</h3>

            {% for item in items %}
                <div class="box-element mt-3">
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2"><strong>Item</strong></div>
                        <div style="flex:1"><strong>Price</strong></div>
                        <div style="flex:1"><strong>Quantity</strong></div>
                        <div style="flex:1"><strong>Total</strong></div>
                    </div>

                    <div class="cart-row">
                        <div style="flex:2">
                            <image src="{{ item.product.image.url }}" class="row-image"></image>
                        </div>
                        <div style="flex:2">{{ item.product.name }}</div>
                        <div style="flex:1">${{ item.product.price| floatformat }}</div>
                        <div style="flex:1">
                            <p class="count-of-item" id="how_many{{ item.id }}">{{ item.how_many }}</p>

                        </div>

                        {% if item.product.discount == None %}
                            <div style="flex:1">${{ item.sum_of_prices_after_discount }}</div>

                        {% else %}
                            <div  style="flex:1; color:#c00101"><b>${{ item.sum_of_prices_after_discount }}</b></div>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}


            <div>
                <h1 class="centered">Choose Address</h1>
            </div>
            {#  ToDo change current address onaddress change #}
            <div>
                <h4 class="">Current Address:</h4>
            </div>

                   <div  class="box-element mt-2 AddressBar">
                        <div class="cart-row">

                            <div style="flex:1"><strong>Province</strong></div>
                            <div style="flex:1"><strong>City</strong></div>
                            <div style="flex:1"><strong>Zip-Code</strong></div>
                            <div style="flex:1"><strong>Exact Address</strong></div>

                        </div>

                        <div class="cart-row">

                            <div id="current_province" data-inside="{{ cart.address.province }}" class="showing-province" style="flex:1">{{ cart.address.province }}</div>
                            <div id="current_city" data-inside="{{ cart.address.city }}" class="mr-3 showing-city ml-5" style="flex:1">{{cart.address.city}}</div>
                            <div id="current_zip" data-inside="{{ cart.address.postal_code }}" class="mr-4 showing-zip ml-5" style="flex:1">{{ cart.address.postal_code }}</div>
                            <div id="current_exact" data-inside="{{ cart.address.exact_address }}" class="mr-4 showing-zip ml-5" style="flex:1">{{ cart.address.exact_address }}</div>
                        </div>
                   </div>

            <a id="AddAddress" class="btn btn-info col-lg-2 mt-3" href="{% url 'profile' %}">Add New Address</a>
            <div id="modal-message"></div>

            {% for A in addresses  %}

                <button class="btn" onclick="updateCartAddress({{ cart.id }}, {{ A.id }})">
                   <div id="address{{ A.id }}"  class="box-element mt-2 AddressBar">
                        <div class="cart-row">

                            <div style="flex:1"><strong>Province</strong></div>
                            <div style="flex:1"><strong>City</strong></div>
                            <div style="flex:1"><strong>Zip-Code</strong></div>
                            <div style="flex:1"><strong>Exact Address</strong></div>

                        </div>

                        <div class="cart-row">

                            <div class="showing-province" style="flex:1">{{ A.province }}</div>
                            <div class="mr-3 showing-city ml-5" style="flex:1">{{A.city}}</div>
                            <div class="mr-4 showing-zip ml-5" style="flex:1">{{ A.postal_code }}</div>
                            <div class="mr-4 showing-zip ml-5" style="flex:1">{{ A.exact_address}}</div>
                        </div>


                        </div>
                </button>
            {% endfor %}


         <button id="AddCheck" class="btn btn-success col-lg-12" onclick="Checkout({{ cart.id }})">Checkout</button>

        </div>
</div>
                <br>
                <br>

                <table class="table">
                    <tr>
                        <th><h5>Items: <strong>{{ cart.total_count }}</strong></h5></th>
                        <th><h5>Total price: <strong id="total-price">${{ cart.calculate_total_price }}</strong></h5></th>
                        <th><h5>Final price: <strong id="final-price">${{ cart.calculate_final_price }}</strong></h5></th>
                        <th>
                            {% if   cart.orderitem_set.all.0 == None %}
                                <button style="float: right; margin: 5px" class="btn btn-secondary">Checkout</button>


                            {% elif request.user.is_authenticated %}
                                 <a style="float: right; margin: 5px" class="btn btn-success" id="checkoutModalbtn">Checkout</a>


                            {% else %}

                                 <h6 style="color: #c00101; float: right">login first!</h6>
                            {% endif %}

                        </th>
                    </tr>
                </table>

            </div>
            <br>
            {% for item in items %}
                <div class="box-element mt-3">
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2"><strong>Item</strong></div>
                        <div style="flex:1"><strong>Price</strong></div>
                        <div style="flex:1"><strong>Quantity</strong></div>
                        <div style="flex:1"><strong>Total</strong></div>
                    </div>

                    <div class="cart-row">
                        <div style="flex:2">
                            <image src="{{ item.product.image.url }}" class="row-image"></image>
                        </div>
                        <div style="flex:2">{{ item.product.name }}</div>
                        <div style="flex:1">${{ item.product.price| floatformat }}</div>
                        <div style="flex:1">
                            <p class="count-of-item" id="how_many{{ item.id }}">{{ item.how_many }}</p>
                            <div class="count-of-item">
                                <button value="{{ item.id }}" class=" btn btn-outline-secondary" id="up" onclick="quantityHandler(this.value, 'increase')"><i
                                        class="fa fa-angle-up" style="font-size:24px"></i></button>
                                {% if item.how_many != 1 %}

                                    <button value="{{ item.id }}" class=" btn btn-outline-secondary" id="down" onclick="quantityHandler(this.value, 'decrease')"><i
                                            class="fa fa-angle-down" style="font-size:24px"></i></button>
                                {% else %}
                                     <button value="{{ item.id }}" class=" btn btn-outline-secondary" id="trash" onclick="quantityHandler(this.value, 'decrease')"><i
                                            class="fa fa-trash" style="font-size:24px; color: #d9534f"></i></button>
                                {% endif %}
                            </div>
                        </div>
                        {% if item.product.discount == None %}
                            <div style="flex:1"><b>${{ item.sum_of_prices_after_discount }}</b></div>
                        {% else %}
                            <div style="flex:1; color:#c00101"><b>${{ item.sum_of_prices_after_discount }}</b></div>

                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

<script>

    function quantityHandler(value, action){

        $.ajax({
            url: "{% url 'IncAndDec' pk=12345 %}".replace(/12345/, value),
            method: 'PATCH',
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            data: {
                'how_many' : Number($(`#how_many${value}`)),
                'action': action,
                'item_id' : value
            },
            success: function (success) {
                window.location.reload()
            {#  TODO STOP THE RELOAD  #}

            },
        })

    }
    </script>

 <script>
        x = $('#cart-message')
        x.fadeOut(2800)
 </script>

 <script>
        // Get the modal
        var modal = document.getElementById('checkoutModal');

// Get the button that opens the modal
        var btn = document.getElementById('checkoutModalbtn');

// Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
        btn.onclick = function() {
        modal.style.display = "block";
        }

// When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

// When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    </script>


<script>

function updateCartAddress(cart_value, address_value){


                $.ajax({
                    url: "{% url 'UpdateCartAddress' pk=0 %}".replace(/0/, cart_value),
                    method: 'PATCH',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                 },
                    data: {
                        'address': address_value
                    },

                    success: function () {
                        let modal_message = document.getElementById('modal-message')
                        let message = `<div style="background-color: gray" id="modalMessage" class="modal_message sticky rounded mt-5 p-1 centered one-time-message">
                                                        <h6 style="color: snow; ">Successfully Updated Cart Address</h6>
                                                    </div>`

                        modal_message.innerHTML += message

                        x = $('.modal_message')
                        x.fadeOut(2000)

                        let province = $('#current_province')
                        let data_provice = province.attr('data-inside')
                        let city = $('#current_city')
                        let data_city = city.attr('data-inside')
                        let zip = $('#current_zip')
                        let data_Zip = zip.attr('data-inside')
                        let exact = $('#current_exact')
                        let data_exact = exact.attr('data-inside')
                        console.log(data_Zip)
                        console.log(data_city)





                    },
                })

            }

</script>


<script>

function Checkout(cart_value){


                $.ajax({
                    url: "{% url 'Checkout' %}",
                    method: 'PATCH',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                 },
                    data: {
                        'cart_id': cart_value

                    },

                    success: function () {
                        window.location.replace("http://127.0.0.1:8000/order/cart/");





                    },
                })

            }

</script>


{% endblock %}