{% extends 'core/main.html' %}
{% load static %}

{%  block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="{% url 'store' %}" class="btn btn-outline-dark">&#x2190 Back to Store</a>
                <div style="float: right">
                    <label for="OffCode" style="color: #4D4D4DFF">Got Off Code?</label>
                    <input  class="rounded box-element" id="OffCode" type="text">
                </div>

                <br>
                <br>

                <table class="table">
                    <tr>
                        <th><h5>Items: <strong>3</strong></h5></th>
                        <th><h5>Total price: <strong>$1</strong></h5></th>
                        <th><h5>Final price: <strong>$1</strong></h5></th>
                        <th>
                            <a style="float: right; margin: 5px" class="btn btn-success" href="#">Checkout</a>
                        </th>
                    </tr>
                </table>

            </div>
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                </div>

                 <div class="cart-row">
                    <div style="flex:2"><image src="{% static 'images/placeholder.png' %}" class="row-image"></image></div>
                    <div style="flex:2">placeholder</div>
                    <div style="flex:1">$10</div>
                    <div style="flex:1">
                        <p class="count-of-item">1</p>
                        <div class="count-of-item">
                            <i class="fa fa-angle-up" style="font-size:24px"></i>
                            <i class="fa fa-angle-down" style="font-size:24px"></i>
                        </div>
                    </div>
                    <div style="flex:1">2</div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}